@import "../../theme/styles/variables";

.chat-container{
    height: calc(100vh - (#{$top-toolbar-height} + #{$footer-toolbar-height} + 148px));
}
.chat-toolbar{
    background: transparent !important;
    height: 40px;
    margin-top: -40px;
    .author-img{
        width: 34px;
        height: 34px;
    }
    .author-name{
        font-size: 16px;
        font-weight: 400;
    }
     
}
.chat{
    border-radius: 0;
    .chat-actions{
        padding: 12px;
    }    
    .talk-item{
        padding: 6px 0;
        height: 100%;
    }
    .message{
        white-space: unset;
        text-overflow: unset;       
        span{
            padding: 6px 10px;
            border-radius: 4px;
            display: inline-block;
            font-size: 14px;
        }
    }
    .message-date{
        opacity: 0.8;
    }
    .empty{
        mat-icon{
            font-size: 220px;
            height: 220px;
            width: 220px;
            opacity: 0.4;
        }
        p{
            font-size: 18px;
            opacity: 0.8;
        }
    }
}
.chat-status-icon{
    font-size: 14px;
    height: 14px;
    width: 14px;
    line-height: 22px;
    margin-right: 6px;
}
.author-status{
    font-size: 13px;
}
.chat-sidenav{
    border-right: 1px solid transparent;
    overflow: hidden;   
}
.chat-content{
    padding: 12px;
    height: calc(100vh - (#{$top-toolbar-height} + #{$footer-toolbar-height} + 174px));
    &.actions-visible{
        height: calc(100vh - (#{$top-toolbar-height} + #{$footer-toolbar-height} + 254px));
    }
}
.chat-sidenav-list {
    height: 100%;
}
.person-info-sidenav{
    width: 280px;
    h2{
        font-weight: 400;
    }
    img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}


@media (max-width: 960px) { 
    .chat-container{
        height: calc(100vh - (#{$top-toolbar-height} + #{$footer-toolbar-height} + 130px));
    }
    .chat-content{
        height: calc(100vh - (#{$top-toolbar-height} + #{$footer-toolbar-height} + 154px));
        &.actions-visible{
            height: calc(100vh - (#{$top-toolbar-height} + #{$footer-toolbar-height} + 236px));
        }  
    }  
}