.team-member{
    img{
        width: 89px;
        border-radius: 2px;
    }
    h3{
        text-transform: capitalize;
        font-weight: 400;
    }
    p{
        text-transform: uppercase;
    }
}