<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="50" class="p-2">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="p-1 gradient-indigo team-member">
            <img src="assets/img/profile/michael.jpg" alt="image" class="mat-elevation-z3">        
            <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
                <h3>michael blair</h3>
                <p class="mt-1">menecer</p>
                <a routerLink="." mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
                </a>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="50" class="p-2">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="p-1 gradient-green team-member">
            <img src="assets/img/profile/tereza.jpg" alt="image" class="mat-elevation-z3">        
            <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
                <h3>tereza stiles</h3>
                <p class="mt-1">designer</p>
                <a routerLink="." mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
                </a>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="50" class="p-2">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="p-1 gradient-amber team-member">
            <img src="assets/img/profile/adam.jpg" alt="image" class="mat-elevation-z3">        
            <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
                <h3>adam sandler</h3>
                <p class="mt-1">developer</p>
                <a routerLink="." mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
                </a>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="50" class="p-2">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="p-1 gradient-red team-member">
            <img src="assets/img/profile/ashley.jpg" alt="image" class="mat-elevation-z3">        
            <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
                <h3>ashley ahlberg</h3>
                <p class="mt-1">support</p>
                <a routerLink="." mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
                </a>
            </div>
        </mat-card>
    </div>
</div>